.card-kpi {
  border-radius: 0;
  min-width: 200px;
  border: 0;
  margin: 1%;
}
.card-kpi .fa-stack {
  margin-top: 18px;
}
.card-kpi .card-body {
  padding: 0.5rem 0.5rem;
}
.card-kpi .card-title,
.card-kpi .card-text {
  font-weight: bold;
  text-align: right;
}
.h100 {
  height: 100px;
}